<h1>Upload a new script</h1>

<%= form_for @script, html: {multipart: true} do |f| %>
  <%= f.label "Title" %>
  <%= f.text_field :title %>
  <%= f.label "Author" %>
  <%= f.text_field :author %>
  <%= f.file_field :pdf_file %>
  <%= f.submit "Upload" %>
<% end %>